# 本地库中还有，push的时候不会上传。
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

MANIFEST
wheels/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Sphinx documentation
docs/_build/



# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy


# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# git规则
# .gitignore只能忽略那些原来没有被track的文件，如果某些文件已经被纳入了版本管理中，则修改.gitignore是无效的

# 解决办法
# git rm -r --cached .
# git add .
# git commit -m "更新 .gitignore"

# .gitignore文件的规则对已经追踪的文件是没有效果的.
# 所以需要用rm命令清除一下相关的缓存内容.这样文件将以未追踪的形式出现.
# 然后再重新添加提交一下,.gitignore文件里的规则就可以起作用了.

#pylint 用法：
#    生成配置文件模板：pylint --generate-rcfile
#    执行检验：pylint --rcfile=D:\PycharmProjects\venv\pylint.conf D:\PycharmProjects\SEA2017\src\com\nrtest\common\base_page.py
#    问题帮助：pylint --help-msg=bad-whitespace
#    检测结果编码列表：http://pylint-messages.wikidot.com/all-codes
#    --output-format=parseable --disable=R,C0103 -rn --msg-template="{abspath}:{line}: [{msg_id}({symbol}), {obj}] {msg}" $FilePath$
#    --rcfile=D:\PycharmProjects\venv\pylint.conf $FilePath$
#    git-pylint-commit-hook
#    (C) 惯例。违反了编码风格标准
#    (R) 重构。写得非常糟糕的代码。
#    (W) 警告。某些 Python 特定的问题。
#    (E) 错误。很可能是代码中的错误。
#    (F) 致命错误。阻止 Pylint 进一步运行的错误。

# My configurations:
geckodriver.log
reports/*.html

.idea/
screenshots/
logs/
ocr/
img/
!blank.py
!screenshots
!logs
!ocr
!img




